html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  line-height: 1.5;
}
h1 {
  font-family: 'Sigmar One', serif;
  font-size: 3rem;
  text-align: center;
  color: #cc1465;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  display: inline-block;
  list-style-type: none;
  line-height: 1.5;
  text-align: center;
  margin: 0 0 .2em;
  margin-bottom: .3em;
  padding: .2em .5em .3em;
  border-style: solid;
  background-color: #b2a212;
  border-color: #b2a212;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
}

li {
  display: inline-block;
}

a:hover {
  background-color: #b20953;
  border-color: #b20953;
}

header {
  background-color: #ffe500;

}

main {
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-family: "Sigmar One", serif;
  font-size: 1.875rem;
  color: #cc1465;
}

p {
  font-family: Goergia, serif;
  font-size:1.125rem;
}

footer {
  font-size: .75rem;
  text-align: center;
  background-color: #ffe500;
  margin: 0 0 .2em;
  padding: 10px;
}

img {
  width: 100%;
}
